<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="p : ${ types }">
            <td data-th-text="${ p.id }">Jean Dubois</td>
            <td data-th-text="${ p.libelle }">35</td>
        </tr>
        </tbody>
    </table>
</body>
</html>