<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <a class="btn btn-success" th:href="@{'/type/new'}">Add</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="p : ${ types }">
            <td data-th-text="${ p.id }">Jean Dubois</td>
            <td data-th-text="${ p.libelle }">35</td>
            <td>
                <form th:action="@{/type/{id}(id=${ p.id })}" method="post">
                    <input  hidden name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>

                <a class="btn btn-primary" th:href="@{'/type/edit/'+${ p.id }}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>